apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: nvidia-gpu-exporter
  namespace: prometheus
spec:
  selector:
    matchLabels:
      app: nvidia-gpu-exporter
  template:
    metadata:
      labels:
        app: nvidia-gpu-exporter
    spec:
      nodeSelector:  # 仅在有GPU的节点运行
        nvidia.com/gpu: "true"
      restartPolicy: Always
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/master"
          operator: "Exists"
          effect: "NoSchedule"
      containers:
        - name: nvidia-gpu-exporter
          image: swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/utkuozdemir/nvidia_gpu_exporter:1.3.2
#          image: nvidia_gpu_exporter:1.4.1
          imagePullPolicy: IfNotPresent
          securityContext:
            privileged: true
            runAsUser: 0
          ports:
            - containerPort: 9835
              name: metrics
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          volumeMounts:
            - name: host-dev
              mountPath: /dev
              readOnly: false
            - name: nvidia-smi
              mountPath: /usr/bin/nvidia-smi
              readOnly: true
{% for file in libnvidia_files %}
            - name: "libnvidia-{{ file | basename | regex_replace('[^\w-]', '-') }}"
              mountPath: "/usr/lib/x86_64-linux-gnu/{{ file | basename }}"
              readOnly: true
{% endfor %}
      volumes:
        - name: host-dev
          hostPath:
            path: /dev
            type: Directory
        - name: nvidia-smi
          hostPath:
            path: /usr/bin/nvidia-smi
            type: File
{% for file in libnvidia_files %}
        - name: "libnvidia-{{ file | basename | regex_replace('[^\w-]', '-') }}"
          hostPath:
            path: "{{ file }}"
            type: File
{% endfor %}
